<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/animation.css">
	<link rel="stylesheet" href="/css/landing-page.css">

	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
	<link rel="shortcut icon" href="/img/logo-icon.png" type="image/x-icon">
	<title>Happy</title>
</head>

<body>
	<div id="page-landing">
		<div id="container">
			<header>
				<img src="/img/logo.svg" alt="Logomarca de Happy" id="logo">
		
				<div class="location animate-up">
					<strong>Itaquaquecetuba</strong>
					<p>São Paulo</p>
				</div>
			</header>
		
			<main>
				<h1 class="animate-up">Leve felicidade para o mundo</h1>
				<section class="visit">
					<p class="animate-up">Vissite orfanatos e mude o dia de muitas crianças</p>
					<a href="/orphanages" title="Visite orfanatos">
						<img src="/img/arrow.svg" alt="Ir para o mapa">
					</a>
				</section>
			</main>
		</div>
	</div>
	<script src="/js/script.js"></script>
</body>

</html>